body {
  color: white;
  font-family: sans-serif;
  background-color: #1d9bf0;
  transition: all 1s ease-in-out;
}

h1 {
  margin: 1em 0;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
}

.slider {
  height: 70vh;
}

.slider__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  width: max(70vw, 20em);
  margin: 0 auto;
  border-radius: 0.5em;
  padding: 2em;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.159);
}

.slider__content {
  flex: 1;
  grid-column: 1/ -1;
  overflow: hidden;
}

.slider__list {
  display: flex;
  height: 50vh;
  border-radius: 0.5em;

  transition: 250ms transform ease-in;
}

.slider__item {
  min-width: 100%;
  border-radius: 0.5em;
  padding: 0.5em 0;
  text-align: center;
  background-color: white;
}

.slider__content img {
  height: 100%;
  border-radius: 0.5em;
  object-fit: cover;
}

.slider__dots {
  display: flex;
  grid-column: -2/-1;
  justify-content: end;
  margin: 1em 0;
  text-align: center;
}

.slider__dot-item {
  padding: 0.5em;
}

.slider__dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 3px solid transparent;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

.slider__dot-item.active .slider__dot {
  border: 3px solid #fff;
}

.slider__dot-item:hover .slider__dot {
  background-color: #fff;
}
.slider__dot-item:active .slider__dot {
  transform: scale(1.3);
}

.slider__dot-item:hover {
  cursor: pointer;
}

.slider__text {
  grid-column: 1/-2;
  grid-row: 2/3;
  font-size: 1.3em;
}

.text-animation {
  animation-name: text;
  animation-duration: 1s;
}

@keyframes text {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  10% {
    opacity: 0.1;
    transform: translateX(3em);
  }

  50% {
    opacity: 0;
    transform: translateX(5em);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  body {
    background-color: red;
    transition: all 2s ease-in-out;
  }

  .slider__container {
    grid-template-columns: 1fr;
  }

  .slider__dots {
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-content: center;
  }

  .slider__text {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
