body {
  color: white;
  font-family: sans-serif;
  background-color: #1d9bf0;
  transition: all 0.3s ease-in-out;
}

h1 {
  margin: 1em 0 2em;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.slider__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1em;
  width: max(70vw, 20em);
  margin: 0 auto;
  border-radius: 0.5em;
  padding: 2em;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.slider__gallery {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  overflow: hidden;
}

.slider__list {
  display: flex;
  height: 50vh;
  border-radius: 0.5em;
  transition: 0.5s transform ease-in;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 100%;
  max-height: 100%;
  border-radius: 0.5em;
  padding: 2em 0;
  text-align: center;
  background-color: #fff;
}

.slider__item img {
  border-radius: 0.5em;
}

.slider__texts {
  grid-column: 1 / -2;
  grid-row: 2 / 3;
  overflow: hidden;
}

.slider__texts-list {
  display: flex;
  font-size: 1.2em;
  transition: 0.5s transform ease-in;
}

.slider__text {
  min-width: 100%;
  padding: 1em;
  font-size: 1.3em;
}

#slide1:checked ~ .slider__gallery .slider__list,
#slide1:checked ~ .slider__texts .slider__texts-list {
  transform: translateX(0);
}

#slide2:checked ~ .slider__texts .slider__texts-list,
#slide2:checked ~ .slider__gallery .slider__list {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider__texts .slider__texts-list,
#slide3:checked ~ .slider__gallery .slider__list {
  transform: translateX(-200%);
}
#slide4:checked ~ .slider__texts .slider__texts-list,
#slide4:checked ~ .slider__gallery .slider__list {
  transform: translateX(-300%);
}
#slide5:checked ~ .slider__texts .slider__texts-list,
#slide5:checked ~ .slider__gallery .slider__list {
  transform: translateX(-400%);
}
#slide6:checked ~ .slider__texts .slider__texts-list,
#slide6:checked ~ .slider__gallery .slider__list {
  transform: translateX(-500%);
}

.slider__pagination {
  display: flex;
  grid-column: -2/-1;
  grid-row: 2 / 3;
  justify-content: end;
  align-items: center;
}

.slider__pagination label {
  display: flex;
  align-items: center;
  padding: 0.7em;
  cursor: pointer;
}

.slider__pagination span {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}

.pagination-dot input {
  background-color: red;
}

.slider__pagination label:hover span {
  background-color: #ffffff71;
}

#slide1:checked ~ .slider__pagination label[for="slide1"] span,
#slide2:checked ~ .slider__pagination label[for="slide2"] span,
#slide3:checked ~ .slider__pagination label[for="slide3"] span,
#slide4:checked ~ .slider__pagination label[for="slide4"] span,
#slide5:checked ~ .slider__pagination label[for="slide5"] span,
#slide6:checked ~ .slider__pagination label[for="slide6"] span {
  border: 5px solid #ffffff;
}

#slide1:active ~ .slider__pagination label[for="slide1"] span,
#slide2:active ~ .slider__pagination label[for="slide2"] span,
#slide3:active ~ .slider__pagination label[for="slide3"] span,
#slide4:active ~ .slider__pagination label[for="slide4"] span,
#slide5:active ~ .slider__pagination label[for="slide5"] span,
#slide6:active ~ .slider__pagination label[for="slide6"] span {
  background-color: rgba(0, 0, 0, 0.541);
  transform: scale(1.3);
}

@media (max-width: 768px) {
  body {
    background-color: #1779bb;
    transition: all 2s ease-in-out;
  }

  .slider__content {
    grid-template-columns: 1fr;
  }

  .slider__gallery {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    overflow: hidden;
  }

  .slider__item {
    padding: 0;
  }

  .slider__item img {
    width: max(100%, 15em);
  }

  .slider__pagination {
    grid-column: 1/-1;
    grid-row: 2 / 3;
    justify-content: center;
  }
  .slider__texts {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
}
